/* ------------------------通用元件------------------- */

.row{
    display: flex;
    justify-content: center;
    align-content: center;
}

/* 區塊標題文字 */
h2 {
    font: italic normal medium Roboto;
    font-size: 64px;
    line-height: 84px;
}

.container{
    padding: 56px 360px;
}

/* ------------------------個別區塊------------------- */
/* ---------------banner區塊-------------- */
.banner {
    background-image: url(../images/banner.png);
    background-size: cover;
    height: 100vh;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.banner .container{
    width: 25%;
}

.banner h6 {
    color: white;
    font-size: 24px;
    line-height: 42px;
    font: italic normal bold 24px/42px Roboto;
}

.banner h1 {
    color: white;
    font-size: 80px;
    line-height: 106px;
    font: italic normal 900 80px/106px Roboto;
}

.banner p {
    color: white;
    font-size: 24px;
    line-height: 36px;
    font: italic normal bold 24px/36px Roboto;
    margin-bottom: 40px;
}

.banner .banner4Icon {
    display: flex;
    justify-content: space-between;
}

/* ---------------about區塊-------------- */
.about {
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about .container{
    width: 40%;
}
.name,
.birth,
.about ul li {
    font-size: 24px;
    line-height: 42px;
    font: italic normal bold 24px/42px Roboto;
}

.education {
    font-size: 24px;
    line-height: 36px;
    font: italic normal bold 24px/36px Roboto;
}

.about ul {
    padding-top: 28px;
    margin-top: 24px;
    border-top: 1px solid #000;
}

.about ul li::before {
    content: '';
    width: 22px;
    height: 22px;
    background-color: #891818;
    display: inline-block;
    border-radius: 50%;
    margin-right: 16px;
}

/* ---------------brand區塊-------------- */
.brand {
    background-color: #000;
    color: #fff;
    text-align: center;
}
.brand h6{
    font: italic normal medium Roboto;
    font-size: 24px;
line-height: 42px;

}
.brand p {
font: italic normal medium Roboto;
font-size: 20px;
line-height: 30px;
margin-top: 32px;
margin-bottom: 64px;
}
.brand .container{
   /* width: 50%; */
}
.brand-img1{
    width:792px;
    height: 416px;
    /* margin: 0 auto; */
    background:url(../images/brand_img1.png) no-repeat;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.brand-img2, .brand-img3{
    width:588px;
    height: 416px;
    /* margin: 0 auto; */
    background:url(../images/brand_img2.png) no-repeat;
}

/* ---------------works區塊-------------- */

.works .container{
    padding-left: 360px;
    padding-right: 360px;
}
.works h2{
    text-align: center;
}
.works p{
    font: italic medium Roboto;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 56px;
}
.works .work-img{
    text-align: center;
    font: medium Roboto;
    font-size: 20px;
    line-height: 42px;
    width: 384px;
    height: 528px;
}
.woks .work-img-6{
    width: 588px;
    height: 424px;
}
.works .work-img h6{
    text-align: center;
    font: medium Roboto;
    font-size: 20px;
    line-height: 42px;
}
.works .row{
    display: flex;
}

/* ---------------contact區塊-------------- */
.contact{
    background-color: #000;
    color: #fff;
    text-align: center;
}
.mail, .phone{
    font: italic medium Roboto;
    font-size: 24px;
    line-height: 36px;
}
